<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>
        <td>Lesson 1</td>
        <td>Data Analysis and Visualization in R for Ecologists</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>&nbsp;&nbsp;8:30 am</td>        <!-- time    -->
        <td>&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://datacarpentry.org/R-ecology-lesson/00-before-we-start.html">Before we start</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>&nbsp;&nbsp;9:05 am</td>        <!-- time    -->
        <td>&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://datacarpentry.org/R-ecology-lesson/01-intro-to-r.html">Introduction to R</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>&nbsp;&nbsp;10:05 am</td>        <!-- time    -->
        <td>~10 min Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>&nbsp;&nbsp;10:15 pm</td>        <!-- time    -->
        <td>&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://datacarpentry.org/R-ecology-lesson/02-starting-with-data.html">Starting with data</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>&nbsp;&nbsp;11:30 am</td>        <!-- time    -->
        <td>Lunch break until 12:45pm</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>&nbsp;&nbsp;12:45 pm</td>        <!-- time    -->
        <td>&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://datacarpentry.org/R-ecology-lesson/03-dplyr.html">Manipulating, analyzing, and exporting data with `tidyverse`</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>&nbsp;&nbsp;1:45 pm</td>        <!-- time    -->
        <td>Break for 10  minutes</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>&nbsp;&nbsp;1:55 pm</td>        <!-- time    -->
        <td>&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://datacarpentry.org/R-ecology-lesson/04-visualization-ggplot2.html">Data visualization with `ggplot2`</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>&nbsp;&nbsp;3:30 pm</td>        <!-- time    -->
        <td>~15 min Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>&nbsp;&nbsp;3:45 pm</td>        <!-- time    -->
        <td>&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://datacarpentry.org/R-ecology-lesson/05-r-and-databases.html">SQL databases and R (or another advanced topic)</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>&nbsp;&nbsp;4:45 pm</td> 
        <td>End</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
</div>
